<div class="unit-selection-search-box" >
  <label for="unit_selection_search_rotation_rate" class="unit-label-search m-0 mr-2">Rotation Rate [rph]</label>
  <input type="text" class="form-control mr-2" id="unit_selection_search_rotation_rate" data-id="textbox8">
  <%= button_tag "Search", type: "button", "data-dismiss": "modal",
      class: "btn btn-primary mb-0", id: "js-btn-unit-selection-search" %>
</div>
