<div class="tab-pane fade input-tab-wrap" id="tabs_d_purge_air" role="tabpanel" aria-labelledby="tabs_ct2">
  <div class="box_gr_tlt">
    <h2 class="box_gr_hd"><%= t(".measurements") %></h2>
    <h2 class="box_gr_hd"><%= t(".units_of_measurement") %></h2>
    <h2 class="box_gr_hd"><%= t(".dimensioning") %></h2>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span>TPu2</span>
    </div>
    <div class="gr_item">
      <span>FDB</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox35 %>
    </div>
  </div>
</div>