<th>
  <label class="container-checkbox">
    <input type="checkbox" id="select_all" title="Select all">
    <span class="checkmark"></span>
  </label>
</th>
<th>Category</th>
<th>Unit</th>
<th>B_TP2(FDB)</th>
<th>B_XP2(gr/lb)</th>
<th>B_MR(lb/h)</th>
<th>Rotation(rph)</th>
<th>Diameter(mm)</th>
<th>Depth(mm)</th>
<th>A_TP1(FDB)</th>
<th>A_XP1(gr/lb)</th>
<th>A_FP(CFM)</th>
<th>A_VP(SFM)</th>
<th>F_TR1(FDB)</th>
<th>F_XR1(gr/lb)</th>
<th>F_FR(CFM)</th>
<th>F_VR(SFM)</th>
<th>D_TPu2(FDB)</th>
<th>G_TR2(FDB)</th>
<th>G_XR2(gr/lb)</th>
<th>HP(BTU/h)</th>
<th>PP(in.wc)</th>
<th>PR(in.wc)</th>
<th>PPu(in.wc)</th>
<th>Margin(%)</th>
<th>H(%)</th>
<th>I(%)</th>
<th>J(%)</th>
<th>K(%)</th>
<th>L(%)</th>
<th>M(%)</th>
<th>Status</th>
<th>SMO_XP2(g/kg)</th>