<th>
  <label class="container-checkbox">
    <input type="checkbox" id="select_all" title="Select all">
    <span class="checkmark"></span>
  </label>
</th>
<th>Category</th>
<th>Unit</th>
<th>B_TP2(°C)</th>
<th>B_XP2(g/kg)</th>
<th>B_MR(kg/h)</th>
<th>Rotation(rph)</th>
<th>Diameter(mm)</th>
<th>Depth(mm)</th>
<th>A_TP1(°C)</th>
<th>A_XP1(g/kg)</th>
<th>A_FP(m3/h)</th>
<th>A_VP(m/s)</th>
<th>F_TR1(°C)</th>
<th>F_XR1(g/kg)</th>
<th>F_FR(m3/h)</th>
<th>F_VR(m/s)</th>
<th>D_TPu2(°C)</th>
<th>G_TR2(°C)</th>
<th>G_XR2(g/kg)</th>
<th>HP(kW)</th>
<th>PP(Pa)</th>
<th>PR(Pa)</th>
<th>PPu(Pa)</th>
<th>Margin(%)</th>
<th>H(%)</th>
<th>I(%)</th>
<th>J(%)</th>
<th>K(%)</th>
<th>L(%)</th>
<th>M(%)</th>
<th>Status</th>
<th>SMO_XP2(g/kg)</th>