# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 0fe04803cac259a202bb6f8ffc73da9c4a6e0b98bd5a232bc9bd62040a1dd80f5b8fe49076b4000f8ae1f24d5857f348b983d5a5426eacf94c33697be3fa4fa3

test:
  secret_key_base: 992491105047abe51fdd973e532d501b77cd987717951c38c8dd03eaf3879f084908574e7fda16f7fa7c9468d7f4c5d2fbcfd4677393ca95de0ecd38d886b548

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

staging:
  secret_key_base: 0fe04803cac259a202bb6f8ffc73da9c4a6e0b98bd5a232bc9bd62040a1dd80f5b8fe49076b4000f8ae1f24d5857f348b983d5a5426eacf94c33697be3fa4fa3

beta:
  secret_key_base: 0fe04803cac259a202bb6f8ffc73da9c4a6e0b98bd5a232bc9bd62040a1dd80f5b8fe49076b4000f8ae1f24d5857f348b983d5a5426eacf94c33697be3fa4fa3

production:
  secret_key_base: 0fe04803cac259a202bb6f8ffc73da9c4a6e0b98bd5a232bc9bd62040a1dd80f5b8fe49076b4000f8ae1f24d5857f348b983d5a5426eacf94c33697be3fa4fa3
