<div class="d-none unit-selection-search-box print-unit-selection-search-box" >
  <label class="unit-label-search m-0 mr-2 unit-selection-print-mr-2"><%= t ".rotation_rate" %></label>
  <%= text_field_tag :textbox8, textbox8, class: "form-control mr-2", disabled: true %>
</div>

<div class="w-inp-prev">
  <div class="d-flex align-items-center justify-content-center">
    <label class="text-nowrap mb-0"><%= t ".rotation_rate" %></label>
    <div class="pl-4"><%= text_field_tag :textbox8, textbox8, class: "form-control mr-2", disabled: true %></div>
  </div>
</div>
