<div class="modal fade modal_reg modal_ct" id="modal_require_select_result" tabindex="-1" 
  role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <h3><%= t ".require_select_result_message" %></h3>
        </div>
        <div class="text-center mt-4">
          <%= link_to t(".ok"), "javascript:void(0)", class: "btn_primary btn-lg",
            data: {dismiss: "modal"} %>
        </div>
      </div>
    </div>
  </div>
</div>
