<div class="calculation_results" id="air_mixture_calculation_results">
  <h2 class="show_mb cal_btnmb"><a href="javascript:void(0)">RESULTS</a></h2>
  <div class="table_results">
    <div class="table-responsive">
      <div class="tablefixedhead">
        <div class="box-theadtable">
          <table class="table table_checkbox">
            <thead>
              <tr>
                <th>
                  <label class="container-checkbox">
                    <input type="checkbox" id="select_all" title="Select all">
                    <span class="checkmark"></span>
                  </label>
                </th>
                <th>Category</th>
                <th>Unit</th>
                <th>B_TP2</th>
                <th>B_XP2</th>
                <th>B_MR</th>
                <th>A_TP1</th>
                <th>A_XP1</th>
                <th>A_FP</th>
                <th>A_VP</th>
                <th>F_TR1</th>
                <th>F_XR1</th>
                <th>F_FR</th>
                <th>F_VR</th>
                <th>D_TPu2</th>
                <th>G_TR2</th>
                <th>G_XR2</th>
                <th>HP</th>
                <th>PP</th>
                <th>PR</th>
                <th>PPu</th>
                <th>Margin(%)</th>
                <th>H(%)</th>
                <th>I(%)</th>
                <th>J(%)</th>
                <th>K(%)</th>
                <th>L(%)</th>
                <th>M(%)</th>
                <th>Status</th>
                <th>Rotation(rph)</th>
                <th>Diameter(mm)</th>
                <th>Depth(mm)</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="box-tbodytable">
          <table class="table table_checkbox">
            <tbody id="data-rows"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
